<!DOCTYPE html>
<html lang="en" ng-app="PaM">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="search.css">
  <link rel="stylesheet" href="css/bootstrap.min.css">
</head>
<body>

<div id="box" class="box">
	<div class="container">
	  <div ng-controller="NotenrollenController as notenrollenCtrl">
		  <table class="table table-hover">
		    	<thead>
		    		<tr>
						<th><input ng-model="notenrollenfilter.title" placeholder="Titel"/></th>
						<th><input ng-model="notenrollenfilter.type" placeholder="Typ"/></th>
						<th><input ng-model="notenrollenfilter.intrument" placeholder="Instrument"/></th>
						<th><input ng-model="notenrollenfilter.hersteller" placeholder="Hersteller"/></th>
						<th><input ng-model="notenrollenfilter.componist" placeholder="Komponist"/></th>
						<th><input ng-model="notenrollenfilter.interpret" placeholder="Interpret"/></th>
					</tr>
		      		<!-- <tr>
				      	<th>Titel</th>
				        <th>Typ</th>
				        <th>Instrument</th>
				        <th>Hersteller</th>
				        <th>Komponist</th>
				        <th>Interpret</th>
		     		 </tr> -->
		    </thead>
		    <tbody>
		      <tr ng-repeat="notenrolle in notenrollenCtrl.notenrollen | filter:notenrollenfilter">
		      	<td>{{notenrolle.title}}</td>
		      	<td>{{notenrolle.type}}</td>
		      	<td>{{notenrolle.instrument}}</td>
		      	<td>{{notenrolle.hersteller}}</td>
		      	<td>{{notenrolle.componist}}</td>
		      	<td>{{notenrolle.interpret}}</td>
			   </tr>
		    </tbody>
		  </table>
		</div>
	</div>
</div>

</body>
<footer>
	<script type="text/javascript" src="js/jquery.min.js"></script>
	<script type="text/javascript" src="js/angular/angular.js"></script>
	<script type="text/javascript" src="js/search.js"></script>
</footer>

</html>