/* Set height to 100% for body and html to enable the background image to cover the whole page: */
body, html {
	background: url('images/piano-instrument-music-keys-159420.jpeg') no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

#title {
	
	position: absolute;
	top: 60%;
	left: 0%;
	width: 100%;
	text-align: center;
	font-weight: bold;
	font-size: 100px; /* Increase font size */
    color: #ffdead;
	
}

#menubox {
	
	position: absolute;
	background-color: rgba(0, 0, 0, 0.7);
	left: 0%;
	width: 100%;
	top: 80%;
	height: 10%;
	
}

/* Position text in the middle */
#menu a {
	
	display: inline-block;
    position: absolute; /* Position them relative to the browser window */
    transition: 0.3s; /* Add transition on hover */
    padding: 15px; /* 15px padding */
    vertical-align: middle;
    font-weight: bold;
    font-size: 40px; /* Increase font size */
    color: #8b795e /* White text color */
}

#menu a:hover {
    color: white;
}

#explore {
    left: 5%;
} 

#search {
    left: 30%;
}

#player {
    left: 60%;
}

#quiz {
    left: 80%;
}

/* Style the <hr> element */
hr {
    margin: auto;
    width: 100%;
}
