/* Set height to 100% for body and html to enable the background image to cover the whole page: */
body, html {
	background: url('images/piano-instrument-music-keys-159420.jpeg') no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

#box {
	
	position: absolute;
	
	background-color: rgba(0, 0, 0, 0.7);
	
	min-height: 100%;
	min-width: 100%;
  	
	font-size: 18px;
	color: #ffdead;
	
}

#box input {
	
	background-color: rgba(0, 0, 0, 0);
	color: #ffdead;
	
}

.table-hover tbody tr:hover {
	
	background-color: green;
	
}

