{% load static %}
<!DOCTYPE html>
<html lang="en" ng-app="notenrollenexplorer">
<head>
  <title>Impressum</title>
  <meta charset="utf-8">
	<link rel="stylesheet" href="{% static "impressum.css" %}">
</head>
<body>
	<h1> Impressum </h1>
	<p> <h2> Die Daten</h2>
		Lorem Impsum bla
		Lorem Impsum
		Lorem Impsum
		Lorem Impsum
		Lorem Impsum
	</p>
	<p> <h2> Verantwortlich für die Seite: </h2>
		Lorem Impsum
		Lorem Impsum
		Lorem Impsum
		Lorem Impsum
	</p>
	<p> <h2> Links</h2>
		Lorem Impsum
		Lorem Impsum
		Lorem Impsum
		Lorem Impsum
		Lorem Impsum
	</p>
</body>

</html>
