{% load static %}
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Notenrollen</title>
<link rel="stylesheet" type="text/css" href="{% static "index.css" %} "/>
</head>
<body>

	<div id="spacer">
	</div>

	<div id="title" class="title">
		Notenrollen 
	</div>
	

	<div id="menubox" class="menubox">
		<a class="menuitem" href="{% url "search" %}"> Entdecken </a>
		<a class="menuitem" href="{% url "player" %}"> Player </a>
		<a class="menuitem" href="{% url "impressum" %}"> Impressum </a>
	</div> 

</body>
</html>

