{% load static %}
<!DOCTYPE html>
<html lang="en" ng-app="notenrollenexplorer">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
	<link rel="stylesheet" href="{% static "search.css" %}">
</head>
<body>

<div id="box" class="box">
	<form action="search" method="get">
		<input name="keyword" placeholder="Suche..."/>
	  <button type="submit" id="search">Los</button>
	</form>
	  <div ng-controller="SearchController as searchCtrl">
		  <table class="table table-hover">
		    	<thead>
		    		<!-- <tr>
						<th><input ng-model="notenrollenfilter.title" placeholder="Titel"/></th>
						<th><input ng-model="notenrollenfilter.type" placeholder="Typ"/></th>
						<th><input ng-model="notenrollenfilter.intrument" placeholder="Instrument"/></th>
						<th><input ng-model="notenrollenfilter.hersteller" placeholder="Hersteller"/></th>
						<th><input ng-model="notenrollenfilter.componist" placeholder="Komponist"/></th>
						<th><input ng-model="notenrollenfilter.interpret" placeholder="Interpret"/></th>
					</tr> -->
		      		<tr>
				      	<th>Titel</th>
				        <!-- <th>Typ</th> -->
				        <th>Instrument</th>
				        <!-- <th>Hersteller</th> -->
				        <th>Komponist</th>
				        <th>Interpret</th>
		     		 </tr>
		    </thead>
		    <tbody>
					{% for entry in search_entries %}
		      <tr onclick="document.location = '{% url 'explore' %} ?id=4';" ng-repeat="notenrolle in searchCtrl.notenrollen">
						<td>{{entry.title}}</td>
						<td>{{entry.instrument}}</td>
						<td>{{entry.composer}}</td>
						<td>{{entry.interpreter}}</td>
					</tr>
					{% endfor %}
					<!--
		      <tr onclick="document.location = '{% url 'explore' %} ?id=4';" ng-repeat="notenrolle in searchCtrl.notenrollen">
		      	<td>{[{searchCtrl.getTitle(notenrolle)}]}</td>
		      	<td>{{notenrolle.type}}</td> 
		      	<td>{[{searchCtrl.getInstrument(notenrolle)}]}</td>
		      	<td>{{notenrolle.hersteller}}</td>
		      	<td>{[{searchCtrl.getComponist(notenrolle)}]}</td>
		      	<td>{[{searchCtrl.getInterpret(notenrolle)}]}</td>
			   </tr>
				 -->
		    </tbody>
		  </table>
		</div>
</div>

</body>
<footer>
	<!--
	<script type="text/javascript" src="{% static "js/jquery.min.js" %}"></script>
	<script type="text/javascript" src="{% static "js/angular/angular.js" %}"></script>
	<script type="text/javascript" src="{% static "js/app.js" %}"></script>
	<script type="text/javascript" src="{% static "js/xml2json.js" %}"></script>
	<script type="text/javascript" src="{% static "js/bootstrap.min.js" %}"></script>
	-->
</footer>

</html>
