{% load static %}
<!DOCTYPE html>
<html lang="en" ng-app="notenrollenexplorer">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
	<link rel="stylesheet" href="{% static "search.css" %}">
</head>
<body>

<div id="box" class="box">
	<form action="search" method="get">
		<input name="keyword" placeholder="Suche..."/>
	  <button type="submit" id="search">Los</button>
	</form>
	  <div ng-controller="SearchController as searchCtrl">
		  <table class="table table-hover">
		    	<thead>
		      		<tr>
				      	<th>Titel</th>
				        <th>Instrument</th>
				        <th>Komponist</th>
				        <th>Interpret</th>
		     		 </tr>
		    </thead>
		    <tbody>
					{% for entry in search_entries %}
		      <tr onclick="document.location = '{% url 'explore' %}?objectID={{entry.objectID}}';" ng-repeat="notenrolle in searchCtrl.notenrollen">
						<td>{% if entry.title is None %} unknown {%else%} {{entry.title}} {% endif %} </td>
						<td>{% if entry.instrument is None %} unknown {%else%} {{entry.instrument}} {% endif %} </td>

						<td>
							{% if not entry.composer %}
								unknown
							{%else%}
								{% for composer in entry.composer %}
									<p> {{composer}} </p>
								{% endfor %}
							{% endif %}
						</td>
						<td>
							{% if not entry.interpreter %}
								unknown
							{%else%}
								{% for e in entry.interpreter %}
									<p> {{e}} </p>
								{% endfor %}
							{% endif %}
						</td>
					</tr>
					{% endfor %}
		    </tbody>
		  </table>
		</div>
</div>

</body>
<footer>
	<!--
	<script type="text/javascript" src="{% static "js/jquery.min.js" %}"></script>
	<script type="text/javascript" src="{% static "js/angular/angular.js" %}"></script>
	<script type="text/javascript" src="{% static "js/app.js" %}"></script>
	<script type="text/javascript" src="{% static "js/xml2json.js" %}"></script>
	<script type="text/javascript" src="{% static "js/bootstrap.min.js" %}"></script>
	-->
</footer>

</html>
